.container {
    margin: 0 auto;
    margin-top: 50px;
    gap: 5px;
    
}

.container input {
    width: 50px;
    text-align: center;
    padding-left: 0;
}

.container button{
    background-color: rgb(52, 150, 45);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container table {
    margin: 0 auto;
}

.container table th, .container table td {
    padding: 2px 10px;
}
