.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container h1 {
    margin-bottom: 40px;
    color: #6f6f6f;
}

.buttonContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: #9f9e9e;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
}

button:hover {
    background-color: #797979;
}

label {
    margin-top: 10px;
    color: #6f6f6f;
    font-size: smaller;
}

.logo {
    width: 30%;
    margin-bottom: 10px;
}